$primary-color: #9c0087;

.header {
  background-color: $primary-color;
  padding: 20px;

  .title {
    color: white;
    font-size: 2rem;
  }
}
.main {
  padding: 20px;
  .container {
    padding: 2rem;
    text-align: center;
  }
}
.footer {
  background-color: $primary-color;
  padding: 20px;
  color: white;
}