@import 'variables';

.header {
  background-color: $primary-color;
  padding: 20px;

  .title {
    color: white;
    font-size: 2rem;
  }
}

.main {
  padding: 20px;
  background-color: $secondary-color;
  color: $text-color;

  .container {
    padding: 2rem;
    text-align: center;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .welcomeMessage {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      margin: 0 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  background-color: $primary-color;
  padding: 20px;
  color: white;
}